@import './element-variables.scss';
// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//主题色
$primaryColor:$--color-primary;
// 导航颜色以及高亮时的颜色
$menuText:#bfcbd9;
$menuHeadText:#333;
$menuActiveText:$--color-primary;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

//导航顶左hover时背景颜色
$menuHover:#263445;
$subMenuHover:#001528;

//导航顶左背景颜色
$menuBg:#304156;
$menuHeadBg:#fff;
$subMenuBg:#1f2d3d;

//左侧导航宽度
$sideBarWidth: 210px;

//table  header背景颜色 border颜色  文字颜色
$tableHeaderBackgroundColor: #E6EEFB;
$tableBorderTop:#E6EEFB;
$tableColor:#666;


// .app-main的内边距
$appMainPadding:15px;
$appMainBackground: #fff;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  primaryColor:$primaryColor;
  tableHeaderBackgroundColor:$tableHeaderBackgroundColor;
  tableBorderTop:$tableBorderTop;
  tableColor:$tableColor;
  appMainPadding:$appMainPadding;
  menuText: $menuText;
  menuHeadText:$menuHeadText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHeadBg:$menuHeadBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
